* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}




.heading {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 5vh;
    padding: 15px;
    border-radius: 10px;
}

.para {
    margin-top: 20px;
    background-color: black;
    margin-right: auto ;
    margin-left: auto;
    width: 80%;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    text-align: justify;
    color: white;
    font-size: 4vh;

}

.ulstyles {
    background-color: white;
    color: black;
    list-style-type: circle;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px ;
    border-radius: 10px;
}




/*this is for tabs */

@media screen and (max-width:1024px) {
    div.heading {
        width: 80%;
        margin: auto;
        background-color: black;
        color: white;
        text-align: center;
        margin-top: 5vh;
        font-size: 5vh;
        padding: 4vh;
        border-radius: 10px;
    }
    

 }
 


/*this is for phones */

@media screen and (max-width:768px) {
    div.heading {
        width: 80%;
        margin: auto;
        background-color: black;
        color: white;
        text-align: center;
        margin-top: 5vh;
        font-size: 4vh;
        padding: 0.5vh;
        border-radius: 10px;
    }


    .imageDiv {
        display: flex; 
        width: 80%;
        margin: auto;
        
    }

    .image {
        flex: 1;
        width: auto;
        height: auto;
    }

    .para {
        margin-top: 20px;
        background-color: black;
        margin-right: auto ;
        margin-left: auto;
        width: 80%;
        padding: 15px;
        padding-top: 25px;
        padding-bottom: 25px;
        border-radius: 10px;
        text-align: justify;
        color: white;
        font-size: 3vh;



}
